.button {
  @extend %button;
  &.modal-open {
    padding-right: 32px;
    padding-left: 32px;
  }
  &.modal-submit {
    padding-right: 56px;
    padding-left: 56px;
    margin: 0 auto;
  }
  &.submit {
     display: inline-flex;
     padding-right: 29px ;
     padding-left: 29px;
  }
  &:hover,
  &:focus {
     box-shadow: $button-shadow;
  }
}
  .icon-send {
    height: 24px;
    width: 24px;
    margin-left: 10px;
  }