.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
  
    font-family: $font-family-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &-web {
        color: $accent-color;
    }
  }
.header-studio {
    color: $title-text-color;
  }