$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #c4c4c4;
$accent-bg-color: #2f303a;
$border-header: #ececec;
$border-partners: #afb1b8;

$icon-white: #ffffff;
$icon-grey: #afb1b8;

$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$function-time: 250ms;
